* {

	box-sizing: border-box;
 }

 body {

 	margin: 0;
 	padding: 0;
 	background-color: #f0f0f0;
 }

 body .Header {

 	height: 60px;
 	color: #f0f0f0;
 	background-color:#3c3c3c;
 	border-bottom: 1px solid #0eb0ff;
 	border-width: thick;
 	}
nav
{
	display: inline-block;
	float: right;
	padding:0.75%;
	margin-right:10%; 
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
    
}

.navigation li {
  float:left;
  text-align: center;
}

.img_user
{
	height: 35px;
	width: 35px;
	
	border:1px solid white;
	border-width: thin;
	border-radius: 4px;


}

.username {
	padding: 0px 30px 8px 5px;
	border-right:0.3px solid black;
	border-color:grey;
	border-width:thin;
}

li.username > p {

	margin:8px 0px 0px 5px; 
	text-shadow:2px 2px black;
}

ul.sprite {

  margin: 0;
  padding: 0;
  list-style: none;
  

}

ul.sprite li {

  float: left;
  text-align: center;
  padding: 5px 5px 5px 7px;
  text-shadow: 2px 2px white;
}

ul.sprite a {
	
	
    text-decoration: none;

}

.navigation ul:after , ul.sprite:after ,body:after, .main_wrapper:after , .content_header:after {

	clear:both;
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
}

.main_wrapper {

	width:960px;
	margin:0 auto;
}

.main_wrapper .wrapper1 {

	float:left;
	width:30%;
	height: 150px;
}

.main_wrapper .wrapper2 {

	float:right;
	width:70%;
	padding-left: 30px;
}


section.content_header > p {

	font-size:175%; 
	border-bottom:1px solid #e1e1e1; 
	border-width:thin;
	text-shadow: 1px 1px #e1e1e1;
	margin: 0px 0px 10px 0px;
	padding: 18px 0 8px 0;
} 

.main_wrapper .wrapper1 > article {

	background-color: #dddddd;
	width:50%;
	height:80%;
	margin: 0px auto 0px 0px;

}

.main_wrapper .wrapper1 p {

	margin:8px 0 4px 0;
	text-shadow: 1px 1px grey;
	font-size:90%;
	padding:2px;
}

.main_wrapper .wrapper1 .user_input {

	padding: 5px;
	width: 55%;
	margin-top:5px;
	text-shadow: 1px 1px  #1e1e1e;
}

.main_wrapper .wrapper1 .user_submit {

	padding:5px;
	width:40%;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #1e1e1e;
}
