 <form>
                FirstName : <input type="text" value="fname" ng-model="emp.firstName" /><br/>
                LastName : <input type="text" value="lname" ng-model="emp.lastName" /><br/>
                Email : <input type="email" value="fname" ng-model="emp.email"><br/>
                Extension : <input type="text" value="fname" ng-model="emp.extention"/><br/>
                DOJ : <input type="text" value="fname" ng-model="emp.doj" /><br/>
               <input type="radio" name="isOnBench" value="true" ng-model="emp.isOnBench" /> True<br>
                <input type="radio" name="isOnBench" value="false" ng-model="emp.isOnBench" /> False<br>
            
                <input type="submit" value="submit">
</form>