<header>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="app">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Library Management System</a>
                </div>

            </div>
        </nav>
    
    </div>
</div>

<div class="container wrapper">
<div class="row">
    <div class="col-xs-6 text-center">

        <a ui-sref="app.newBook" class="btn btn-primary btn-sm" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>	Add New Book</a>
           
        <!--<i class="fa fa-file-text" aria-hidden="true"></i>-->
    </div>

    <div class="col-xs-6 text-center">
        
        <a ui-sref="app.newAuthor" class="btn btn-primary btn-sm" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>	Add New Author</a>
        
         <!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
    </div>
    </div>
</div>

</header>