<div class="container">

<div class="jumbotron">

<h3 class="text-center"> Author Details </h3> 

<div ng-show="IsAuthorAdded" class="alert alert-success" role="alert">{{message}}</div>    
    
<form class="form-horizontal col-sm-offset-2">
  <div class="form-group">
    <label for="empid" class="col-sm-2 control-label">Author Id</label>
    <div class="col-sm-6">
      <input type="number" ng-model="newAuthor.empid" class="form-control" id="empid" placeholder="Author Id">
    </div>
  </div>
  <div class="form-group">
    <label for="empname" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" ng-model="newAuthor.name" class="form-control" id="empname" placeholder="Author Name">
    </div>
  </div>

  <div class="form-group">
   <label for="empemail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" ng-model="newAuthor.email" class="form-control" id="empemail" placeholder="Author Email">
    </div>
  </div>

   <div class="form-group">
   <label for="empdepartment" class="col-sm-2 control-label">Department</label>
    <div class="col-sm-6">
      <input type="text" ng-model="newAuthor.department" class="form-control" id="empdepartment" placeholder="Author Department">
    </div>
  </div>

   <div class="form-group">
   <label for="empwebsite" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6">
      <input type="text" ng-model="newAuthor.website" class="form-control" id="empwebsite" placeholder="Author Website">
    </div>
  </div>

  <div class="form-group">
  <label for="avai_on" class="col-sm-2 control-label">Skills</label>

    <div class="col-sm-6" >
    
      <textarea class="form-control" ng-model="newAuthor.skills" placeholder="Add your skills with comma sepration" rows="3"></textarea>
       
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-click="addNewAuthor(newAuthor)" class="btn btn-sm btn-default"> 
      <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>  Add new Author</button>
    </div>
  </div>
</form>

</div>

</div>